{
    "application.fingerprint" : "z9Sjn/zh3zqCjNdQqNQneqRiLUPOO/u0xiBBxrzjgF1YXzbZqYmlpfMDvgzaLSlH0purtSLeNYI+N3hCnRrnrQ==",
    "application.language" : "zh-CN",
    "application.lockScreenTimeout" : 60,
    "application.masterPassword" : true,
    "application.proxyHost" : "198.18.0.1",
    "application.proxyPort" : 10809,
    "application.windowOpacity" : 0.95000000000000007,
    "filer.lastDownloadFolder" : "G:/redis",
    "filer.lastUploadFolder" : "F:/Node/hm-dianping/nginx-1.18.0/html/hmdp",
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : 2,
    "text.zoomFactor" : 1
}
